html {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 100;
  overflow-x: hidden;
}

body {
  background-color: #f76;
  margin: 0;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section > div {
  font-size: 80px;
  text-align: center;
  width: 320px;
  margin: auto;
}

section h1 {
  margin: 50px;
  transition-duration: 1s;
}

#skipButton {
  transition-duration: 1s;
  opacity: 0;
}

#gofasterbutton {
  transition-duration: 1s;
  opacity: 0;
}

#percent {
  font-size: 24px;
  margin-top: -50px;
  margin-bottom: 50px;
}

#claim {
  display: none;
  opacity: 0;
  transition-duration: 1s;
}

section h3 {
  font-size: 30px;
  margin: 0;
}

section button {
  transition-duration: 1s;
  box-shadow: none;
  border: 3px solid #fff;
  border-radius: 25px;
  background-color: inherit;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  padding: 20px 40px;
}

footer {
  background-color: #32292f;
  padding: 2rem;
  color: #f4f4f4;
}

footer > p {
  color: #93a3b1;
}

a {
  color: #abc;
}